*{
    margin: 0px;
    padding: 0px;
  }

  body{
    background-color: rgb(59, 7, 87);
    font-family: Arial, Helvetica, sans-serif;
    /*overflow-x: scroll;
    display:block;*/
  }
  
  #container{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    align-items: center;
  }
  
/* Parte de arriba, encabezado */

  header{
    background-color: rgb(59, 7, 87);
    height: 10%;
    width: 100%;
    display: block;
    align-items: center;
    line-height: 7%;
    margin: auto;
  
  }

  #imgLogo{
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  nav{
    height: 5%;
    width: 100%;
    background: rgb(224, 71, 255);
    padding: 1%;
    text-align: center;
    line-height: 3%;
    border-bottom: 3px solid #ff8cf7;
    border-top: 3px solid #ff8cf7;
  }
  
  #fix{
    position: fixed;
    width: 100%;
    margin-bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
  }
  
 .clearfix{
    clear: both;
  }

/* Seccion del medio */

  #content{
      float: left;
      width: 100%;
      height: 100%;
      background: rgb(0, 166, 255);
      min-height: 20%;
      align-content: center;
      justify-content: center;
      text-align: justify;
      margin-top: 13%;
      
    }

/* Primera columna */

  #personal{
      float: left;
      width: 22%;
      height: 100%;
      margin-left: 3%;
      background: rgb(230, 180, 248);
      align-content: center;
      text-align: justify;
      min-height: 20%;
      
    }

    /* Primer recuadro */

    .article{
      margin: 5%;
      align-content: center;
      text-align: center;
      min-height: 20%;
      margin-top: 3%;
    }

    #sobreMi{
    margin: 3%;
    margin-top: 3%;
    align-content: center;
    text-align: center;
    padding: 3%;
    min-height: 20%;
    
  }
  
  #imgSobreMi{
    align-items: center;
    width: 75%;
    margin: 5%;
    border-radius:150px;
    border:3px solid #4887da;

  }

  /* Segundo recuadro */

  #suscribete{
    margin: 3%;
     align-content: center;
     text-align: center;
     min-height: 30%;
     
   }
   
   #info{
     padding: 3%;
     width: calc(100%-30px);
     height: 80%;
     background: #4887da;
   }

   #imgBlindnessInferno{
    align-items:center;
    width: 100%;
  }
   
  .ichioLink{
    padding: 3%;
    background-color: #6a2121;
    width: calc(100%-30px);
    height: 20%;
  }


/* Segunda columna */

    #jueguito3D{
      float: left;
      width: 44%;
      height: 100%;
      align-content: center;
      text-align: justify;
      min-height: 20%;
      margin-left: 3%;
      margin-right: 3%;
      
    }

    .imgUtwd{
      padding-top: 5%;
      padding-bottom: 5%;
      align-items:center;
      width: 100%;
    }

    .trailer{
      align-items:center;
      width: 100%;
    }
  
  /* Tercera columna (aside-flip-card) */

  #fliping{
    float: right;
    width: 22%;
    background: rgb(230, 180, 248);
    align-content: center;
    text-align: justify;
    margin-right: 3%;
    
  }
  

  #publi{
    align-items: center;
    width: 100%;
  }

  .flip-card {
    background-color: transparent;
    width: 75%;
    height: 100%;
    perspective: 100%;
    margin-bottom: 283%;
    margin-left: 10%;
    padding-top: 110%;
    
  
  }
        
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
        
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
        
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility:hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: pink;
    color: black;
  }
        
  .flip-card-back {
    background-color: plum;
    color: white;
    transform: rotateY(180deg);
          
  }
  
  

  

 /* Pie de página */

  .piesito{
    align-content: center;
    min-height: 10%;
    justify-content: center;
    text-align: center;
  }
  
  
  a.pie:link {
    color:#FFFFFF;
    text-decoration:none;
    font-size: 20px;
    margin: 1%;
  }
  a.pie:hover {
    color:rgb(255, 107, 255);
    text-decoration:none;
  }
  a.pie:active {
    color: blue;
    text-decoration:none;
  }
  
  /* Parrafos e inputs */

  p{
    text-align: justify;
    margin: 15px;
    font-size: 16px;
  }

  input{
    padding: 5px;
  }


  a:link {
    color:#ffffff;
    text-decoration:none;
    font-size: 20px;
    margin: 1%;
  }
  a:hover {
    color:rgb(0, 166, 255);
    text-decoration:none;
  }
  a:active {
    color:rgb(171, 115, 192);
    text-decoration:none;
  }
  


